* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #E1DEEE;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #101e3b;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #79b0c7;
}

nav {
    margin: 7px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 2px solid #79b0c7;
}

nav ul li {
    border-bottom: 2px solid #101e3b;
}

#particles-js {
    background-color: #111b30;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.portfolio-div {
    background-color: #79b0c7;
    color: #101e3b;
    padding: 5px 10px 5px 60px;
}

.hero-div {
    background-color: #A6D1D4;
    color: #101e3b;
    padding: 5px 10px 5px 60px;
    position: absolute;
    bottom: 40px;
    right: 70px;
}

.name {
    color: #a30849;
    font-weight: bold;
}

.flex-center-bottom {
    padding: 20px;
    border: solid 3px #024e76;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.text {
    text-align: right;
    margin: 3.5%;
    color: #101e3b;
    font-size: 40px;
    line-height: 1.3;
    flex: 1 10%;
}

.info {
    flex: 2 60%;
    margin: 3.5%;
    text-align: left;
    color: #101e3b;
    line-height: 1.5;
}

.grid-container {
    flex: 2 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 10px;
}

.grid-item {
    padding: 1em;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.box2 {
    grid-column: 2/ span 3;
    grid-row: 1/ span 1;
}

.box3 {
    grid-column: 2/3;
    grid-row: 2/ span 2;
}

.box4 {
    grid-column: 1/3;
    grid-row: 3/ span 2;
}

.box5 {
    grid-column: 2/3;
    grid-row: 3/ span 2;
}

.box1 img {
    width: 300px;
    height: 300px;
}

.box2 img {
    width: 300px;
    height: 150px;
}

.box3 img {
    width: 300px;
    height: 140px;
}

.box4 img {
    width: 300px;
    height: 140px;
}

.box5 img {
    width: 300px;
    height: 140px;
}

.grid-item a[href] {
    position: relative;
}

.desc {
    background-color: #A6D1D4;
    color: #101e3b;
    padding: 10px 10px;
    position: absolute;
    bottom: 20px;
    font-size: small;
    overflow-wrap: break-word;
    width: 170px;
}

.desc h3 {
    font-family: "Comic Sans MS";
}

.desc p {
    font-size: smaller;
}